body {
  background: #fafafa;
  color: #333;
}
fieldset {
  margin: 0 0 2em;
  padding: 1em;
  border: none;
  background: #f45858;
  color: #fff;
}
legend {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 1em;
  font-weight: bold;
}
label {
  margin: 1ex 1em 0 0;
  padding: 4px 0;
}
.platformCheckbox {
  margin: -2px 1ex 0 0;
  vertical-align: middle;
}
.notes {
  color: #888;
}
table {
  width: 100%;
  margin-bottom: 1em;
  border-spacing: 0;
  font-weight: normal;
  table-layout: fixed;
}
th {
  padding: 0 1ex 1ex 0;
  text-align: left;
  vertical-align: bottom;
}
.platformHeading {
  padding: 1ex;
  border-bottom: dotted 1px #bbb;
  text-align: center;
}
.previewTextHeading {
  padding-right: 0;
}
.previewText {
  width: 100%;
  padding: 1ex;
  border: solid 1px #ddd;
  border-radius: 2px;
}
td {
  width: 14.285714285714286%;
  padding: 1ex 1em 1ex 0;
  border-top: solid 1px #ddd;
  overflow: hidden;
  font-size: 1rem;
}
.platformCell {
  text-align: center;
}
.stickyHeader {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  padding-top: 1ex;
  background: #fafafa;
  transition: top 0.5s;
}
.stickyHeader table {
  margin: 0;
  border-bottom: solid 1px #ddd;
}
