// base

*
  box-sizing border-box

body
  margin 0
  background white
  font-family Source Sans Pro, Tahoma, Arial, sans
  font-size (22/16)em
  font-weight 300
  color #222

a
  font-weight 600
  color inherit

  &:hover
    color #2957a3

h2
  margin 0
  text-align center
  font-size 2em
  font-weight 300

// layout

header
  padding-top 50px
  background #f45858
  text-align center
  color #fff

footer
  position relative
  padding 1em 0
  background #cc4a4a
  text-align center
  color #fff

section
  position relative
  padding 50px 0
  box-shadow 0 0 100px rgba(black .2)

.content
  width 900px
  max-width 100vw
  margin 0 auto
  padding 0 1em

// components

.site-title
  display inline-block
  margin 0 auto 1ex
  padding 10px 22px
  border solid 2px #fff
  font-size 2em
  font-weight 600

.site-summary
  margin 1em 0 50px

.nav-link
  display inline-block
  width 150px
  height 50px
  text-decoration none

.product--drawstring
  padding-bottom 0
  background #e4f1f1
  box-shadow none

.product--genome
  background #fff

.product--seconds
  background #64297a
  color white

.product--summer
  padding-bottom 0
  background #ffeb86

.product--superscribe
  padding-bottom 0
  background #b1e3f1

.product-icon
  display block
  margin 0 auto 1em

.product-summary
  text-align center

.product-summary
  margin-top 0
  font-weight 300

.product-links
  text-align center

.product-link
  display inline-block
  margin 1em
  vertical-align middle

.drawstring-screenshot
  display block
  width 410px
  max-width 100%
  margin 0 auto

.summer-screenshot
  display block
  width 400px
  max-width 100%
  margin 0 auto

.superscribe-screenshot
  display block
  width 1050px
  max-width 100%
  margin 0 auto

.contact
  background #f45858
  text-align center
  color #fff
