body {
  margin: 0;
  background: #fff;
  font-family: Source Sans Pro, Tahoma, Arial, sans;
  font-size: 1.375em;
  color: #222;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}
.site-title {
  margin: 1em 0 1ex;
  text-align: center;
  font-size: 2em;
}
.site-summary {
  margin: 1em 0 50px;
  text-align: center;
}
.product {
  padding: 50px 0;
}
.product--drawstring {
  background: #ffeac5;
}
.product--genome {
  background: #fff;
}
.product--seconds {
  background: #64297a;
  color: #fff;
}
.product--summer {
  background: #b5e9fb;
}
.product--superscript {
  background: #582d3a;
  color: #fff;
}
.product-icon {
  display: block;
  margin: 0 auto 1em;
}
.product-title,
.product-summary,
.product-links {
  text-align: center;
}
.product-title {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
}
.product-summary {
  margin-top: 0;
  font-weight: 300;
}
.product-links {
  margin-top: 2em;
}
.product-link {
  margin: 0 1em;
}
