* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fff;
  font-family: Source Sans Pro, Tahoma, Arial, sans;
  font-size: 1.375em;
  font-weight: 300;
  color: #222;
}
a {
  font-weight: 600;
  color: inherit;
}
a:hover {
  color: #2957a3;
}
.brand-link {
  text-decoration: none;
}
h2 {
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}
header {
  padding-top: 50px;
  background: #f45858;
  text-align: center;
  color: #fff;
}
.header--superscribe {
  padding-bottom: 1em;
  background: #b1e3f1;
}
footer {
  position: relative;
  padding: 1em 0;
  background: #cc4a4a;
  text-align: center;
  color: #fff;
}
section {
  position: relative;
  padding: 50px 0;
  box-shadow: 0 0 100px rgba(0,0,0,0.2);
}
.content {
  width: 900px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 1em;
}
.site-title {
  display: inline-block;
  margin: 0 auto 1ex;
  padding: 10px 22px;
  border: solid 2px #fff;
  font-size: 2em;
  font-weight: 600;
}
.site-summary {
  margin: 1em 0 50px;
}
.nav-link {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-decoration: none;
}
.product--alt-fight {
  padding-bottom: 0;
  background-color: #ffdf00;
  background-image: linear-gradient(to bottom right, #e8c03c, #ffdf00 10%, #f5c832 20%, #f5c832 80%, #ffdf00 90%, #e8c03c);
  box-shadow: none;
}
.product--drawstring {
  padding-bottom: 0;
  background: #e4f1f1;
  box-shadow: none;
}
.product--genome {
  background: #fff;
}
.product--slm-autocompile {
  background: #eee;
}
.product--seconds {
  background: #64297a;
  color: #fff;
}
.product--summer {
  padding-bottom: 0;
  background: #ffeb86;
}
.product--superscribe {
  padding-bottom: 0;
  background: #b1e3f1;
}
.product-icon {
  display: block;
  margin: 0 auto 1em;
}
.product-summary {
  text-align: center;
}
.product-summary {
  margin-top: 0;
  font-weight: 300;
}
.product-links {
  text-align: center;
}
.product-link {
  display: inline-block;
  margin: 1ex 1em;
  text-decoration: none;
  vertical-align: top;
}
.product-link > small {
  display: block;
}
.social-link {
  display: inline-block;
  margin: 1em 1em;
}
.alt-fight-screenshot {
  display: block;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.drawstring-screenshot {
  display: block;
  width: 410px;
  max-width: 100%;
  margin: 0 auto;
}
.summer-screenshot {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}
.superscribe-screenshot {
  display: block;
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
}
.contact {
  background: #f45858;
  text-align: center;
  color: #fff;
}
button {
  font: caption;
}
.preview-actions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px 8px;
  border-bottom: solid 1px WindowFrame;
  background: Window;
  color: WindowText;
}
.preview {
  max-width: 50em;
  margin: 0 auto;
  padding: 3em 1em 1em;
  background: #faf9f7;
  font-size: 16px;
}
.preview .page-heading {
  padding-top: 1em;
  border-top: dashed 1px #ccc;
}
.preview dt {
  float: left;
  margin-right: 1ex;
  text-transform: capitalize;
}
.preview dt::after {
  content: ':';
}
.preview .title,
.preview .draft,
.preview .by-line {
  text-align: center;
}
.preview .address {
  white-space: pre;
}
.preview .page-heading {
  page-break-before: always;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
.preview .panel-heading {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
}
.preview .character {
  position: relative;
  width: 22%;
  text-transform: uppercase;
}
.preview .character::before {
  content: attr(number) '. ';
}
.preview .parenthetical {
  width: 22%;
  margin-top: 1ex;
  padding-left: 3ex;
  text-align: right;
}
.preview .dialog {
  width: 75%;
  margin-left: 25%;
}
.preview .character + .dialog,
.preview .parenthetical + .dialog {
  margin-top: -1.5em;
}
.preview .paragraph {
  min-height: 1.5em;
}
.preview [generated-content]::after {
  content: attr(generated-content);
}
